:root {
  --color-vivid: #187484;
  --color-light: #EEF5FF;

}

body {
  background-color: var(--color-light);
  text-align: center;
}

#app {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 100vh;
  min-width: 50%;
  margin: 0 auto;
  font-family: sans-serif;
  border: solid .1em var(--color-vivid);
}

#containerPrank {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-vivid);
  height: 80vh;
  color: var(--color-light);
  font-size: calc(1em + 1vw);
  line-height: 1.5em;
  font-family: "Handlee", cursive;
}

#containerActive {
  flex: 1;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-vivid);
  font-size: calc(1em + 1vw);
  font-weight: 500;
}

h1 {
  margin: 1em auto;
}

p {
  width: 80%;
  max-width: 60em;
  margin: auto;
}

#button {
  border: none;
  border: solid .1em var(--color-vivid);
  border-radius: 2em;
  padding: 0.5em;
  color: var(--color-vivid);
  background-color: var(--color-light);
  text-transform: uppercase;
  font-size: calc(.5em + 1vw);
}

#button:hover {
  background-color: var(--color-vivid);
  color: var(--color-light);
  cursor: pointer;
  transition: 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.resolution-item {
  animation: fadeIn 0.5s ease forwards;
}

